{% extends "layout.html" %}

{% block pageTitle %}
  Where does the seller surrender the goods to the buyer? - Incoterms selector
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: inco_context.back_link
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <form action="/form_handler" method="get">
                    <input type="hidden" name="phase" id="phase" value="surrender_location">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                <span class="govuk-caption-xl">Incoterms selector</span>
                                Where does the seller surrender the goods to the buyer?
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="surrender_location-sellers_country" name="surrender_location" type="radio" value="sellers_country">
                                <label class="govuk-label govuk-radios__label" for="surrender_location-sellers_country">The seller's country</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="surrender_location-buyers_country" name="surrender_location" type="radio" value="buyers_country">
                                <label class="govuk-label govuk-radios__label" for="surrender_location-buyers_country">The buyer's country</label>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <button class="govuk-button" data-module="govuk-button">Continue</button>
            </form>
            {% include "includes/logic.html" %}
        </div>
    </div>

{% endblock %}