{% extends "layout.html" %}
{% block pageTitle %}
  DPU (Delivered at Place Unloaded) - Incoterms selector
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: inco_context.back_link
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Incoterms selector</span>
            <h1 class="govuk-heading-xl">DPU (Delivered at Place Unloaded)</h1>
            <p>Delivered at Place Unloaded (DPU) (formerly referred to as DAT for “Delivered at Terminal”) requires the seller to deliver the goods at the disposal of the buyer after they’ve been unloaded from the arriving means of transport.</p>

            <p>DPU is the only Incoterms rule that requires the seller to unload goods at the place of destination.</p>

            <p>DPU can apply to any - and more than one - mode of transport. The buyer and seller should specify and agree upon a named place of destination.</p>

            <p>DPU requires the seller to clear goods for export, where applicable, without any obligation to clear the goods for import, pay import duty or carry out import customs formalities.</p>

            <h2 class="govuk-heading-m">Seller’s Obligations</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Goods, commercial invoice and documentation</li>
                <li>Export packaging and marking</li>
                <li>Export licenses and customs formalities</li>
                <li>Pre-carriage and delivery</li>
                <li>Loading charges</li>
                <li>Main carriage</li>
                <li>Delivery at named place of destination</li>
                <li>Unloading charges</li>
                <li>Proof of delivery</li>
                <li>Cost of pre-shipment inspection</li>
            </ul>

            <h2 class="govuk-heading-m">Buyer’s Obligations</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Payment for goods as specified in sales contract</li>
                <li>Import formalities and duties</li>
                <li>Cost of import clearance pre-shipment inspection</li>
                <li>Onward carriage and delivery to buyer (depending upon named place)</li>
            </ul>

            {{ govukButton({
                text: "Start again",
                href: "/mode_of_transport"
            }) }}
            {% include "includes/logic.html" %}
        </div>
    </div>

{% endblock %}