{% extends "layout.html" %}
{% block pageTitle %}
  DAP (Delivered at Place) Arrival Point - Incoterms selector
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: inco_context.back_link
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Incoterms selector</span>
            <h1 class="govuk-heading-xl">DAP (Delivered at Place) Arrival Point</h1>
            <p>Under the Delivered At Place (DAP) Incoterms rules, the seller is responsible for delivery of the goods, ready for unloading, at the named place of destination.</p>

            <p>The seller assumes all risks involved up to unloading. Unloading is at the buyer’s risk and cost.</p>

            <p>DAP can apply to any - and more than one - mode of transport. The buyer and seller should specify and agree upon the precise unloading spot at the named place of destination.</p>

            <p>Unless otherwise agreed between both parties, the seller cannot request renumeration for unloading costs incurred under the contract of carriage.</p>

            <p>DAP rules require the seller to clear goods for export, where applicable, without any obligation to clear the goods for import, pay import duty or carry out import customs formalities.</p>

            <h2 class="govuk-heading-m">Seller’s Obligations</h2>

            <ul class="govuk-list govuk-list--bullet">
                <li>Goods, commercial invoice and documentation</li>
                <li>Export packaging and marking</li>
                <li>Export licenses and customs formalities</li>
                <li>Pre-carriage and delivery</li>
                <li>Loading charges</li>
                <li>Cost of pre-shipment inspection</li>
                <li>Main carriage</li>
                <li>Delivery to named place of destination</li>
                <li>Proof of delivery</li>
            </ul>

            <h2 class="govuk-heading-m">Buyer’s Obligations</h2>

            <ul class="govuk-list govuk-list--bullet">
                <li>Payment for goods as specified in sales contract</li>
                <li>Unloading from arriving means of transportation</li>
                <li>Import formalities and duties</li>
                <li>Cost of import clearance pre-shipment inspection</li>
                <li>Onward carriage and delivery to buyer (depending on named place)</li>
            </ul>

            {{ govukButton({
                text: "Start again",
                href: "/mode_of_transport"
            }) }}
            {% include "includes/logic.html" %}
        </div>
    </div>

{% endblock %}