{% extends "layout.html" %}
{% block pageTitle %}
  FCA (Free Carrier) - Incoterms selector
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: inco_context.back_link
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Incoterms selector</span>
            <h1 class="govuk-heading-xl">FCA (Free Carrier)</h1>

            <h2 class="govuk-heading-m">The seller’s Premises</h2>
            <p>Under the shipping terms for the FCA Incoterms (short for “Free Carrier”), the seller is responsible for export clearance and delivery of goods to the carrier at the named place of delivery.</p>

            <p>Unless otherwise agreed upon, the seller is only responsible for loading the goods if the seller’s place of business is the named place of delivery.</p>

            <p>A carrier is any person or company who undertakes the carriage, such as a shipping line, airline, trucking company, railway or freight forwarder.</p>

            <h2 class="govuk-heading-m">Seller’s Obligations</h2>

            <ul class="govuk-list govuk-list--bullet">
                <li>Goods, commercial invoice and documentation</li>
                <li>Export packaging and marking</li>
                <li>Export licenses and customs formalities</li>
                <li>Pre-carriage to terminal</li>
                <li>Delivery to named place of delivery</li>
                <li>Cost of pre-shipment inspection</li>
                <li>Proof of delivery</li>
            </ul>

            <h2 class="govuk-heading-m">Buyer’s Obligations</h2>

            <ul class="govuk-list govuk-list--bullet">
                <li>Payment for goods at price agreed upon in sales contract</li>
                <li>Unloading from arriving means of transportation</li>
                <li>Loading charges</li>
                <li>Main carriage</li>
                <li>Discharge and onward carriage</li>
                <li>Import formalities and duties</li>
                <li>Cost of pre-shipment inspection (for import clearance)</li>
            </ul>

            {{ govukButton({
                text: "Start again",
                href: "/mode_of_transport"
            }) }}
            {% include "includes/logic.html" %}
        </div>
    </div>

{% endblock %}