{% extends "layout.html" %}
{% block pageTitle %}
  FAS (Free Alongside Ship) - Incoterms selector
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: inco_context.back_link
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Incoterms selector</span>
            <h1 class="govuk-heading-xl">FAS (Free Alongside Ship)</h1>
            <p>The seller is responsible for placing the goods to be exported alongside the ship at the named port, as well as arranging export documentation and clearing export customs.</p>

            <p>The risk for the loss or damage of those goods then passes to the buyer, who also bears all of the costs from that moment on. This Incoterm should apply to conventional sea freight only, not containerised cargo.</p>

            {{ govukButton({
                text: "Start again",
                href: "/mode_of_transport"
            }) }}
            {% include "includes/logic.html" %}
        </div>
    </div>

{% endblock %}